<form>
  <div *ngFor="let item of collectionsOfForms.controls">
    <ng-container [formGroup]="item">
      <div>
        <label>Name</label>
        <input formControlName="name" />
      </div>
      <div>
        <label>Price</label>
        <input formControlName="price" [value]="item.get('price').value | fractionalPart"/>
      </div>
    </ng-container>
  </div>
  <button (click)="addForm()">ADD</button>
</form>
<div>
  <app-custom-control [(ngModel)]="month" ></app-custom-control>
</div>



